rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Note permissions
    match /users/{userId}/notes/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Settings permissions
    match /users/{userId}/settings/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
